$grayBg: #F5F5FA;
$graySeparator: #E6E6F0;
$mainRegular: #323264;
$activeRegular: #24A3FF;
$mainAlt: #46466E;
$accent: #F0145A;
$grayText: #B3B3BA;
$whiteText: #FFFFFF;
$blackText: #000000;

$desktopHD: 1600px;
$desktopSD: 1320px;
$tabletHD: 904px;
$tabletSD: 648px;
$mobile: 100%;