* {
    box-sizing: border-box;
}
footer {
    background-color: #ffffff;
}

/*-----footer-container-1------*/
.footer-container-1 {
    padding: 60px 0;
    font-size: 0;
    margin: auto;
    max-width: 1110px;
}

.footer-items {
    width: 255px;
    height: 253px;
    display: inline-block;
}

.footer-items:not(:first-child) {
    margin-left: 30px;
}

.footer-items h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 30px;
    max-width: 255px;
}

.footer-border {
    border: 1px solid #EFEFEF;
    margin-bottom: 25px;
}

.item a {
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
}

.item a:hover {
    color: #111212
}

.footer-border-2 {
    border: 1px solid #EFEFEF;
}

/*-----footer-container-2------*/
.footer-container-2 {
    padding: 37px 0 38px;
}

.footer-container-2-content {
    max-width: 1110px;
    margin: auto;
}

.footer-container-2-content::after {
    content: "";
    clear: both;
    display: block;
}

.social-links {
    max-width: 175px;
}

.youtube {
    float: left;
    transition: transform 0.1s;
}

.facebook,
.instagram {
    float: left;
    margin-left: 20px;
    transition: transform 0.1s;
}

.youtube:hover,
.facebook:hover,
.instagram:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.contacts {
    max-width: 337px;
    float: right;
}

.phone {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    float: left;
    margin-top: 14px;
    transition: transform 0.1s;
}

.phone:hover {
    color: #F13C6E;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}

.callback {
    float: right;
    margin-left: 40px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #F13C6E;
    border-radius: 40px;
    max-width: 170px;
    padding: 12px 57px 13px 56px;
    cursor: pointer;
    transition: color 0.1s, background-color 0.1s;
}

.callback:hover {
    color: #FFFFFF;
    background-color: #F13C6E;
    transition: all 0.2s linear;
}

/*-----footer-container-3------*/
.footer-container-3 {
    background-color: #EFEFEF;
    padding: 25px 0;
}

.footer-container-3-content {
    max-width: 1110px;
    margin: auto;
}
.footer-container-3-content::after {
    content: "";
    clear: both;
    display: block;
}
.footer-text-1 {
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    float: left;
}

.footer-text-2 {
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #828282;
    float: right;
}