body {
    box-sizing: border-box;
    background: #E5E5E5;
    font-family: Roboto, sans-serif;
}

/*----section-1------*/
.section-1 {
    padding: 192px 0px 193px 0px;
    background-image: url(../img/background.png);
    background-color: #fff;
    background-size: cover;
    background-position: 30%;
    margin-bottom: 80px;
}
.container-1 {
    max-width: 1110px;
    margin: auto;
}
.container-content-1 {
    max-width: 308px;
}
.container-content-1 h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.container-content-1 p {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.container-content-1 a {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 26px 13px 27px;
    display: block;
    width: 170px;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    box-sizing: border-box;
    transition: 1s;
}
.container-content-1 a:hover {
    background-color: #ffffff;
    color: #F13C6E;
}
/*-------section-2-------*/
.section-2 {
    max-width: 1110px;
    background: #E5E5E5;
    margin: auto auto 100px;
}
.section-2 h3 {
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

/*------section-3-----*/
.section-3 {
    max-width: 1110px;
    font-size: 0;
    margin: auto auto 135px;
}
.content {
    background-color: #F13C6E;
    max-width: 540px;
    display: inline-block;
    padding: 31px 0 39px;
}
.mg-30 {
    margin-left: 30px;
}
.block-content {
    max-width: 250px;
    margin-left: 40px;
    display: inline-block;
}
.block-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.block-digit {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.block-button-1 {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 9px 95px 9px 25px;
    text-decoration: none;
    display: block;
}
.letter {
    margin-left: 82px;
    margin-right: 53px;
}
.block-button-2 {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 9px 53px 9px 53px;
    text-decoration: none;
    display: block;
}
.car {
    margin-left: 92px;
    margin-right: 45px;
}

/*--------section-4--------*/
.section-4 {
    background: #E5E5E5;
}
.section-4-content {
    max-width: 1110px;
    margin: auto auto 80px;
    text-align: center;
}
.line-1 {
    display: inline-block;
}
.impuls-block {
    font-size: 0;
    display: inline-block;
    width: 274px;
    margin: auto;
}
.impuls {
    background-color: #ffffff;
    padding: 35px 63px 35px 62px;
}

/*-----section-5-----*/
.section-5 {
    max-width: 1110px;
    background: #E5E5E5;
    margin: auto auto 81px;
}
.section-5 h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 38px;
}
.article-container {
    max-width: 1110px;
    margin: auto;
    font-size: 0;
}
.article {
    width: 255px;
    background: #FFFFFF;
    display: inline-block;
    text-align: center;
}
.article:not(:first-child) {
    margin-left: 30px;
}
.article img {
    padding: 25px 65px 0px;
    margin-bottom: 20px;
}

.text {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.digit {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding-right: 83px;
    padding-left: 92px;
    margin-bottom: 20px;
}
.article-button {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #F13C6E;
    border-radius: 30px;
    max-width: 130px;
    text-decoration: none;
    padding: 9px 53px 9px 51px;
    box-sizing: border-box;
    display: block;
    margin: auto auto 25px;
}

