header, main, footer {
  font-family: Graphik LC TT, sans-serif;
}

/*header*/
.header-container {
  padding: 25px 0;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 97px;
}

.header-content {
  max-width: $content-width;
  margin: auto;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  column-gap: 57px;
  margin-left: 51px;

  a {
    text-decoration: none;
    color: $color-black;
    font-size: 15px;
    line-height: 20px;
  }
}

.header-buttons {
  display: flex;
  column-gap: 10px;
  margin-left: auto;
}

.log-in {
  @include button-properties;
  padding: 0 36px;
  border: 1px solid rgba($color-black, 0.50);
  color: $color-black;
}

.try-free {
  @include button-properties;
  background-color: $color-main-btn;
  padding: 0 21px;
  color: $color-white;
}

/*footer*/

/*footer-links*/
.footer-links {
  max-width: $content-width;
  padding-bottom: 95px;
  margin: auto auto 48px;
  border-bottom: 1px solid $color-black;
  display: flex;
  justify-content: space-between;
}

.article-race {
  max-width: 300px;
  margin-right: 140px;

  h3 {
    margin-bottom: 28px;
    color: $color-black;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  p {
    margin-bottom: 15px;
    color: $color-black;
    font-size: 20px;
    line-height: 30px;
  }

  a {
    text-decoration: none;
    color: $color-black;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
}

.race {
  margin-bottom: 31px;
}

.logo-specialized {
  margin-bottom: 11px;
}

.links {
  max-width: 850px;
  display: flex;
  gap: 34px;
}

.link-item {
  width: 187px;

  h4 {
    margin-bottom: 21px;
    color: $color-black;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }

  a {
    text-decoration: none;
    color: $color-black;
    font-size: 15px;
    line-height: 15px;
  }

  li {
    margin-bottom: 15px;
  }
}

/*footer-content*/
.footer-content {
  max-width: $content-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer-logo-text {
  display: flex;
}

.footer-text {
  max-width: 301px;
  margin-left: 14px;
  color: $color-black;
  font-size: 12px;
  line-height: 15px;
}

.copyright {
  margin-right: 76px;
  color: $color-black;
  font-size: 12px;
  line-height: 15px;
}