body {
  box-sizing: border-box;
}
/*header*/
.header {
  padding: 25px 0;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 97px;

  &__content {
    max-width: $content-width;
    margin: auto;
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    column-gap: 57px;
    margin-left: 51px;
  }

  &__menu-link {
    text-decoration: none;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    column-gap: 10px;
    margin-left: auto;
  }

  &__button-login {
    @include header-buttons;
    width: 120px;
    border: 1px solid rgba($color-black, 0.50);
    color: $color-black;
  }

  &__button-try {
    @include header-buttons;
    width: 120px;
    background-color: $color-main-btn;
    color: $color-white;
  }
}

/*footer*/
.footer {
  background-color: #EEE;
  padding-top: 92px;
  padding-bottom: 48px;

  &__content {
    max-width: $content-width;
    padding-bottom: 95px;
    margin: auto auto 48px;
    border-bottom: 1px solid $color-black;
    display: flex;
    justify-content: space-between;
  }

  &__studies {
    max-width: 300px;
    margin-right: 140px;
  }

  &__studies-title {
    margin-bottom: 28px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  &__studies-img {
    margin-bottom: 31px;
  }

  &__studies-logo {
    margin-bottom: 11px;
  }

  &__studies-text {
    margin-bottom: 15px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__studies-button {
    text-decoration: none;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  &__links {
    max-width: 850px;
    display: flex;
    gap: 34px;
  }

  &__link-item {
    width: 187px;
  }

  &__links-title {
    margin-bottom: 21px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }

  &__links-button {
    text-decoration: none;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 15px;
  }

  &__links-li {
    margin-bottom: 15px;
  }

  &__info {
    max-width: $content-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__info-text {
    display: flex;
  }

  &__text-item {
    max-width: 301px;
    margin-left: 14px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 12px;
    line-height: 15px;
  }

  &__copyright {
    margin-right: 76px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 12px;
    line-height: 15px;
  }
}