* {
  box-sizing: border-box;
}

.content {
  max-width: $desktopWidth;
  margin: auto;

  @media screen and (max-width: 1289px) {
    width: $tabletWidth;
  }

  @media screen and (max-width: 959px) {
    width: $landscapeWidth;
  }

  @media screen and (max-width: 767px) {
    width: $mobileWidth;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*header*/
.header {
  padding: 25px 0;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 97px;

  &__content {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    column-gap: 57px;
    margin-left: 51px;

    @media screen and (max-width: 1289px) {
      align-items: center;
      column-gap: 20px;
    }

    @media screen and (max-width: 959px) {
      display: none;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 20px;
  }

  &__buttons {
    display: flex;
    column-gap: 10px;
    margin-left: auto;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      row-gap: 10px;
      margin-right: auto;
      margin-top: 20px;
    }
  }

  &__button-login {
    @include header-buttons;
    width: 120px;
    border: 1px solid rgba($color-black, 0.50);
    color: $color-black;
  }

  &__button-try {
    @include header-buttons;
    width: 120px;
    background-color: $color-main-btn;
    color: $color-white;
  }
}

/*footer*/
.footer {
  background-color: #EEE;
  padding-top: 92px;
  padding-bottom: 48px;

  /*footer-content*/
  &__content {
    padding-bottom: 95px;
    margin-bottom: 48px;
    border-bottom: 1px solid $color-black;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }

  &__studies {
    width: 300px;
    margin-right: 140px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-right: unset;
    }
  }

  &__studies-title {
    margin-bottom: 28px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }

  &__studies-img {
    margin-bottom: 31px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__studies-logo {
    margin-bottom: 11px;
  }

  &__studies-text {
    margin-bottom: 15px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__studies-button {
    text-decoration: none;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  &__links {
    max-width: 835px;
    display: flex;
    gap: 34px;

    @media screen and (max-width: 1289px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;
    }
  }

  &__link-item {
    width: 187px;
  }

  &__links-title {
    margin-bottom: 21px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
  }

  &__links-button {
    text-decoration: none;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 15px;
  }

  &__links-li {
    margin-bottom: 15px;
  }

  /*footer-info*/
  &__info {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__info-text {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__logo-img {
    width: 90px;

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__text-item {
    width: 301px;
    margin-left: 14px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 12px;
    line-height: 15px;

    @media screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
      margin-left: unset;
      margin-bottom: 20px;
    }
  }

  &__copyright {
    margin-right: 76px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 12px;
    line-height: 15px;
  }
}