@font-face {
  font-family: "Graphik LC TT";
  src: url("../fonts/GraphikLCG-Regular.ttf") format("truetype"), url("../fonts/GraphikLCG-Semibold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
}

.content {
  max-width: 1290px;
  margin: auto;
}
@media screen and (max-width: 1289px) {
  .content {
    width: 900px;
  }
}
@media screen and (max-width: 959px) {
  .content {
    width: 740px;
  }
}
@media screen and (max-width: 767px) {
  .content {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*header*/
.header {
  padding: 25px 0;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 97px;
}
.header__content {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__content {
    flex-direction: column;
  }
}
.header__menu {
  display: flex;
  justify-content: space-between;
  column-gap: 57px;
  margin-left: 51px;
}
@media screen and (max-width: 1289px) {
  .header__menu {
    align-items: center;
    column-gap: 20px;
  }
}
@media screen and (max-width: 959px) {
  .header__menu {
    display: none;
  }
}
.header__menu-link {
  text-decoration: none;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 15px;
  line-height: 20px;
}
.header__buttons {
  display: flex;
  column-gap: 10px;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__buttons {
    flex-direction: column;
    row-gap: 10px;
    margin-right: auto;
    margin-top: 20px;
  }
}
.header__button-login {
  box-sizing: border-box;
  text-decoration: none;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000000;
}
.header__button-try {
  box-sizing: border-box;
  text-decoration: none;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  width: 120px;
  background-color: #FF6336;
  color: #ffffff;
}

/*footer*/
.footer {
  background-color: #EEE;
  padding-top: 92px;
  padding-bottom: 48px;
  /*footer-content*/
  /*footer-info*/
}
.footer__content {
  padding-bottom: 95px;
  margin-bottom: 48px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__content {
    flex-direction: column-reverse;
  }
}
.footer__studies {
  width: 300px;
  margin-right: 140px;
}
@media screen and (max-width: 767px) {
  .footer__studies {
    width: 100%;
    margin-right: unset;
  }
}
.footer__studies-title {
  margin-bottom: 28px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}
.footer__studies-img {
  margin-bottom: 31px;
}
@media screen and (max-width: 767px) {
  .footer__studies-img {
    width: 100%;
  }
}
.footer__studies-logo {
  margin-bottom: 11px;
}
.footer__studies-text {
  margin-bottom: 15px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.footer__studies-button {
  text-decoration: none;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.footer__links {
  max-width: 835px;
  display: flex;
  gap: 34px;
}
@media screen and (max-width: 1289px) {
  .footer__links {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }
}
.footer__link-item {
  width: 187px;
}
.footer__links-title {
  margin-bottom: 21px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.footer__links-button {
  text-decoration: none;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 15px;
  line-height: 15px;
}
.footer__links-li {
  margin-bottom: 15px;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__info {
    flex-direction: column;
  }
}
.footer__info-text {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__info-text {
    flex-direction: column;
  }
}
.footer__logo-img {
  width: 90px;
}
@media screen and (max-width: 767px) {
  .footer__logo-img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__text-item {
  width: 301px;
  margin-left: 14px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (max-width: 767px) {
  .footer__text-item {
    width: 100%;
    text-align: center;
    margin-left: unset;
    margin-bottom: 20px;
  }
}
.footer__copyright {
  margin-right: 76px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

/*hero-section*/
.hero {
  padding: 32px 0 35px;
  margin-bottom: 137px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1289px) {
  .hero__container {
    flex-direction: column-reverse;
    gap: 70px;
  }
}
.hero__content {
  width: 531px;
}
@media screen and (max-width: 1289px) {
  .hero__content {
    width: 100%;
  }
}
.hero__title {
  margin-bottom: 51px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
}
@media screen and (max-width: 1289px) {
  .hero__title {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 50px;
  }
}
.hero__text {
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1289px) {
  .hero__text {
    text-align: center;
  }
}
.hero__buttons {
  margin-bottom: 25px;
  display: flex;
  column-gap: 10px;
}
@media screen and (max-width: 1289px) {
  .hero__buttons {
    justify-content: center;
    column-gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .hero__buttons {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
.hero__button-try {
  box-sizing: border-box;
  width: 160px;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-weight: 600;
  line-height: 60px;
  text-decoration: none;
  color: #ffffff;
  background-color: #FF6336;
}
.hero__button-book {
  box-sizing: border-box;
  width: 160px;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-weight: 600;
  line-height: 60px;
  text-decoration: none;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.hero__text-features {
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 15px;
  line-height: 25px;
}
@media screen and (max-width: 1289px) {
  .hero__text-features {
    text-align: center;
  }
}
@media screen and (max-width: 1289px) {
  .hero__img-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .hero__img-wrapper {
    margin: auto;
  }
}
.hero__img {
  margin-top: 22px;
}
@media screen and (max-width: 1289px) {
  .hero__img {
    width: 100%;
  }
}

/*brands-section*/
.brands {
  padding: 108px 0 104px;
  margin-bottom: 90px;
  background-color: #FF9C7D;
}
.brands__text {
  width: 720px;
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin: auto auto 70px;
}
@media screen and (max-width: 767px) {
  .brands__text {
    width: 100%;
  }
}
.brands__logo {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1289px) {
  .brands__logo {
    gap: 50px;
    flex-wrap: wrap;
  }
}

/*control-section*/
.control__container {
  margin-bottom: 250px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1289px) {
  .control__container {
    flex-direction: column;
    gap: 10px;
  }
}
.control__content {
  width: 493px;
  margin-top: 151px;
}
@media screen and (max-width: 767px) {
  .control__content {
    width: 100%;
  }
}
.control__title {
  margin-bottom: 30px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.control__text {
  margin-bottom: 30px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.control__button {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 1289px) {
  .control__button {
    font-size: 27px;
  }
}
.control__gif-img {
  width: 632px;
}
@media screen and (max-width: 767px) {
  .control__gif-img {
    width: 100%;
  }
}

/*time-section*/
.time__container {
  margin-bottom: 250px;
  display: flex;
  column-gap: 138px;
}
@media screen and (max-width: 1289px) {
  .time__container {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.time__gif-img {
  width: 632px;
}
@media screen and (max-width: 767px) {
  .time__gif-img {
    width: 100%;
  }
}
.time__content {
  width: 450px;
  margin-top: 151px;
}
@media screen and (max-width: 767px) {
  .time__content {
    width: 100%;
  }
}
.time__title {
  margin-bottom: 30px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.time__text {
  margin-bottom: 36px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.time__button {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 1289px) {
  .time__button {
    font-size: 27px;
  }
}

/*quality-section*/
.quality__container {
  margin-bottom: 250px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1289px) {
  .quality__container {
    flex-direction: column;
    gap: 10px;
  }
}
.quality__content {
  width: 520px;
  margin-top: 161px;
}
@media screen and (max-width: 767px) {
  .quality__content {
    width: 100%;
  }
}
.quality__title {
  margin-bottom: 30px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.quality__text {
  margin-bottom: 35px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.quality__gif-img {
  width: 632px;
}
@media screen and (max-width: 767px) {
  .quality__gif-img {
    width: 100%;
  }
}
.quality__button {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 1289px) {
  .quality__button {
    font-size: 27px;
  }
}

/*work-section*/
.work__container {
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1289px) {
  .work__container {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.work__content {
  width: 520px;
  margin-top: 123px;
}
@media screen and (max-width: 767px) {
  .work__content {
    width: 100%;
  }
}
.work__title {
  margin-bottom: 25px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.work__text {
  margin-bottom: 27px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.work__work-img {
  width: 632px;
}
@media screen and (max-width: 767px) {
  .work__work-img {
    width: 100%;
  }
}
.work__button {
  text-decoration: none;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
@media screen and (max-width: 1289px) {
  .work__button {
    font-size: 27px;
  }
}

/*localise-section*/
.localise {
  background-color: #FFF8E4;
  padding: 120px 0 147px;
}
.localise__title {
  margin-bottom: 58px;
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.localise__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 110px;
  row-gap: 57px;
  padding: 0 40px;
}
@media screen and (max-width: 1289px) {
  .localise__cards {
    justify-content: center;
  }
}
.localise__cards .card {
  width: 330px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card {
    width: 100%;
    text-align: center;
  }
}
.localise__cards .card__img--web {
  padding: 21px 85px 0;
  margin-bottom: 26px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card__img--web {
    padding: 21px 0 0;
  }
}
.localise__cards .card__img--mobile {
  padding: 21px 85px 0;
  margin-bottom: 21px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card__img--mobile {
    padding: 21px 0 0;
  }
}
.localise__cards .card__img--games {
  padding: 21px 85px 0;
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card__img--games {
    padding: 21px 0 0;
  }
}
.localise__cards .card__img--document {
  padding: 21px 85px 0;
  margin-bottom: 26px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card__img--document {
    padding: 21px 0 0;
  }
}
.localise__cards .card__img--marketing {
  padding: 21px 85px 0;
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card__img--marketing {
    padding: 21px 0 0;
  }
}
.localise__cards .card__img--iot {
  padding: 21px 85px 0;
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .localise__cards .card__img--iot {
    padding: 21px 0 0;
  }
}
.localise__cards .card__title {
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}
.localise__cards .card__title--web {
  margin-bottom: 20px;
}
.localise__cards .card__title--mobile {
  margin-bottom: 25px;
}
.localise__cards .card__title--games {
  margin-bottom: 23px;
}
.localise__cards .card__title--document {
  margin-bottom: 20px;
}
.localise__cards .card__title--marketing {
  margin-bottom: 23px;
}
.localise__cards .card__title--iot {
  margin-bottom: 23px;
}
.localise__cards .card__text {
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

/*boost-section*/
.boost {
  padding-top: 154px;
  padding-bottom: 187px;
}
.boost__title {
  margin-bottom: 75px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}
.boost__items {
  display: flex;
  column-gap: 31px;
}
@media screen and (max-width: 767px) {
  .boost__items {
    flex-direction: column;
    align-items: center;
  }
}
.boost__items .item {
  max-width: 408px;
}
.boost__items .item__title {
  margin-bottom: 34px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.boost__items .item__text {
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}
.boost__items .item__button {
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-decoration-line: underline;
}
.boost__items .item__managers-img {
  padding-top: 50px;
  margin-bottom: 49px;
}
.boost__items .item__developers-img {
  padding-top: 67px;
  margin-bottom: 67px;
}
.boost__items .item__translators-img {
  padding-top: 59px;
  margin-bottom: 58px;
}

/*avatar-section */
.avatar {
  background-color: #C9E8F2;
}
.avatar__container {
  padding-top: 53px;
  padding-bottom: 102px;
  display: flex;
  column-gap: 59px;
}
@media screen and (max-width: 1289px) {
  .avatar__container {
    flex-direction: column-reverse;
  }
}
.avatar__content {
  max-width: 921px;
}
.avatar__text {
  margin-bottom: 23px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 30px;
  line-height: 40px;
}
.avatar__title {
  margin-bottom: 7px;
  color: #000000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 15px;
  line-height: 25px;
}
@media screen and (max-width: 1289px) {
  .avatar__img {
    width: 310px;
    margin: auto auto 25px;
  }
}
@media screen and (max-width: 767px) {
  .avatar__img {
    width: 300px;
  }
}

/*rewards-section*/
.rewards {
  background-color: #DABC98;
  padding-top: 79px;
  padding-bottom: 80px;
}
.rewards__container {
  display: flex;
}
@media screen and (max-width: 1289px) {
  .rewards__container {
    flex-direction: column;
  }
}
.rewards__cake {
  margin-right: 67px;
}
@media screen and (max-width: 1289px) {
  .rewards__cake {
    width: 176px;
    margin: auto auto 25px;
  }
}
.rewards__text {
  max-width: 461px;
  margin-right: 125px;
  color: #000000;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
}
@media screen and (max-width: 1289px) {
  .rewards__text {
    text-align: center;
    margin: auto auto 25px;
  }
}
.rewards__border {
  border-left: 2px solid #000000;
  margin-right: 71px;
}
.rewards__images {
  display: flex;
  column-gap: 70px;
}
@media screen and (max-width: 1289px) {
  .rewards__images {
    justify-content: space-around;
    column-gap: unset;
  }
}
@media screen and (max-width: 767px) {
  .rewards__images {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.rewards__images-item {
  display: flex;
  flex-direction: column;
}
.rewards__icon-img {
  margin-bottom: 20px;
}
.rewards__star-img {
  margin-bottom: 14px;
  width: 128px;
}
.rewards__star-text {
  color: #000;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.75px;
}

/*bird-section*/
.bird {
  padding-top: 169px;
  padding-bottom: 162px;
}
.bird__title {
  margin: auto;
  display: block;
  max-width: 791px;
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}
.bird__text {
  max-width: 539px;
  margin: auto auto 25px;
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 25px;
  line-height: 30px;
}
.bird__wrapper-img {
  text-align: center;
}
.bird__img {
  margin-bottom: 32px;
}
@media screen and (max-width: 1289px) {
  .bird__img {
    width: 100%;
    padding-left: unset;
    padding-right: unset;
  }
}
.bird__button {
  display: block;
  width: 193px;
  margin: auto;
  text-decoration: none;
  background-color: #FF6336;
  color: #ffffff;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-weight: 600;
  line-height: 60px;
}

/*localisation-section*/
.localisation {
  background-color: #FF9C7D;
}
.localisation__container {
  padding-top: 119px;
  padding-bottom: 161px;
}
.localisation__content {
  max-width: 784px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .localisation__content {
    width: 100%;
  }
}
.localisation__title {
  max-width: 784px;
  margin: auto auto 29px;
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}
@media screen and (max-width: 767px) {
  .localisation__title {
    font-size: 50px;
  }
}
.localisation__text {
  margin-bottom: 54px;
  color: #000000;
  text-align: center;
  font-family: GraphikLCG-Regular, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.localisation__button {
  max-width: 160px;
  margin: auto;
  display: block;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: GraphikLCG-Semibold, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
}

/*# sourceMappingURL=styles.css.map */
