/*hero-section*/
.hero {
  padding: 32px 0 35px;
  margin-bottom: 137px;

  &__container {
    max-width: $content-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 531px;
  }

  &__title {
    margin-bottom: 51px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;
  }

  &__text {
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;
  }

  &__buttons {
    margin-bottom: 25px;
    display: flex;
    column-gap: 10px;
  }

  &__button-try {
    @include hero-buttons;
    color: $color-white;
    background-color: $color-main-btn;
  }

  &__button-book {
    @include hero-buttons;
    color: $color-black;
    border: 1px solid rgba($color-black, 0.50);
  }

  &__text-features {
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px;
  }

  &__img {
    margin-top: 22px;
  }
}

/*brands-section*/
.brands {
  padding: 108px 0 104px;
  margin-bottom: 90px;
  background-color: #FF9C7D;

  &__container {
    max-width: $content-width;
    margin: auto;
  }

  &__text {
    max-width: 720px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin: auto auto 70px;
  }

  &__logo {
    display: flex;
    justify-content: space-around;
  }
}

/*control-section*/
.control {
  &__container {
    max-width: $content-width;
    margin: auto auto 250px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 493px;
    margin-top: 151px;
  }

  &__title {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    @include start-button;
  }

  &__gif-img {
    width: 632px;
  }
}

/*time-section*/
.time {

  &__container {
    max-width: $content-width;
    margin: auto auto 250px;
    display: flex;
    column-gap: 138px;
  }

  &__gif-img {
    width: 632px;
  }

  &__content {
    width: 450px;
    margin-top: 151px;
  }

  &__title {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 36px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    @include start-button;
  }
}

/*quality-section*/
.quality {
  &__container {
    max-width: $content-width;
    margin: auto auto 250px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 520px;
    margin-top: 161px;
  }

  &__title {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 35px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    @include start-button;
  }
}

/*work-section*/
.work {
  &__container {
    max-width: $content-width;
    margin: auto auto 150px;
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 520px;
    margin-top: 123px;
  }

  &__title {
    margin-bottom: 25px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 27px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    @include start-button;
  }
}

/*localise-section*/
.localise {
  background-color: #FFF8E4;
  padding: 120px 0 147px;

  &__container {
    max-width: $content-width;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 58px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 110px;
    row-gap: 57px;
    padding: 0 40px;

    .card {
      max-width: 330px;

      &__img {
        &--web {
          padding: 21px 85px 0;
          margin-bottom: 26px;
        }

        &--mobile {
          padding: 21px 85px 0;
          margin-bottom: 21px;
        }

        &--games {
          padding: 21px 85px 0;
          margin-bottom: 23px;
        }

        &--document {
          padding: 21px 85px 0;
          margin-bottom: 26px;
        }

        &--marketing {
          padding: 21px 85px 0;
          margin-bottom: 23px;
        }

        &--iot {
          padding: 21px 85px 0;
          margin-bottom: 23px;
        }
      }

      &__title {
        color: $color-black;
        text-align: center;
        font-family: GraphikLCG-Semibold, sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;

        &--web {
          margin-bottom: 20px;
        }

        &--mobile {
          margin-bottom: 25px;
        }

        &--games {
          margin-bottom: 23px;
        }

        &--document {
          margin-bottom: 20px;
        }

        &--marketing {
          margin-bottom: 23px;
        }

        &--iot {
          margin-bottom: 23px;
        }
      }

      &__text {
        color: $color-black;
        text-align: center;
        font-family: GraphikLCG-Regular, sans-serif;
        font-size: 18px;
        line-height: 25px;
      }

    }

  }

}

/*boost-section*/
.boost {
  padding-top: 154px;
  padding-bottom: 187px;

  &__container {
    max-width: $content-width;
    margin: auto;
  }

  &__title {
    margin-bottom: 75px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__items {
    display: flex;
    column-gap: 31px;

    .item {
      max-width: 408px;


      &__title {
        margin-bottom: 34px;
        color: $color-black;
        font-family: GraphikLCG-Semibold, sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
      }

      &__text {
        color: $color-black;
        font-family: GraphikLCG-Regular, sans-serif;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 25px;
      }

      &__button {
        color: $color-black;
        font-family: GraphikLCG-Regular, sans-serif;
        font-size: 20px;
        line-height: 30px;
        text-decoration-line: underline;
      }

      &__managers-img {
        padding-top: 50px;
        margin-bottom: 49px;
      }

      &__developers-img {
        padding-top: 67px;
        margin-bottom: 67px;
      }

      &__translators-img {
        padding-top: 59px;
        margin-bottom: 58px;
      }
    }

  }

}

/*avatar-section */
.avatar {
  background-color: #C9E8F2;

  &__container {
    max-width: $content-width;
    padding-top: 53px;
    padding-bottom: 102px;
    display: flex;
    margin: auto;
    column-gap: 59px;
  }

  &__content {
    max-width: 921px;
  }

  &__text {
    margin-bottom: 23px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 30px;
    line-height: 40px;
  }

  &__title {
    margin-bottom: 7px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px;
  }
}

/*rewards-section*/
.rewards {
  background-color: #DABC98;
  padding-top: 79px;
  padding-bottom: 80px;

  &__container {
    max-width: $content-width;
    margin: auto;
    display: flex;
  }

  &__cake {
    margin-right: 67px;
  }

  &__text {
    max-width: 461px;
    margin-right: 125px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
  }

  &__border {
    border-left: 2px solid $color-black;
    margin-right: 71px;
  }

  &__images {
    display: flex;
    column-gap: 70px;

  }

  &__icon-img {
    margin-bottom: 20px;
  }

  &__star-img {
    margin-bottom: 14px;
  }

  &__star-text {
    color: #000;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
  }

}

/*bird-section*/
.bird {
  padding-top: 169px;
  padding-bottom: 162px;

  &__container {
    max-width: $content-width;
    margin: auto;
  }

  &__title {
    margin: auto;
    display: block;
    max-width: 791px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
  }

  &__text {
    max-width: 539px;
    margin: auto auto 25px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 25px;
    line-height: 30px;
  }

  &__img {
    padding-left: 134px;
    padding-right: 133px;
    margin-bottom: 32px;
  }

  &__button {
    display: block;
    width: 193px;
    margin: auto;
    text-decoration: none;
    background-color: $color-main-btn;
    color: $color-white;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-weight: 600;
    line-height: 60px;
  }

}

/*localisation-section*/
.localisation {
  background-color: #FF9C7D;

  &__container {
    max-width: $content-width;
    padding-top: 119px;
    padding-bottom: 161px;
    margin: auto;
  }

  &__content {
    max-width: 784px;
    margin: auto;
  }

  &__title {
    max-width: 784px;
    margin: auto auto 29px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
  }

  &__text {
    margin-bottom: 54px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    max-width: 160px;
    margin: auto;
    display: block;
    text-decoration: none;
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
  }

}