/*hero-section*/
.hero-section {
  padding: 32px 0 35px;
  margin-bottom: 137px;
}

.hero-container {
  max-width: $content-width;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  max-width: 531px;
}

.hero-title {
  margin-bottom: 51px;
  color: $color-black;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
}

.hero-text {
  color: $color-black;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 50px;
}

.hero-buttons {
  margin-bottom: 25px;
  display: flex;
  column-gap: 10px;
}

.hero-try {
  padding: 0 41px 0 42px;
  color: $color-white;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
  background-color: $color-main-btn;
  text-decoration: none;
}

.hero-book {
  padding: 0 29px;
  color: $color-black;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
  text-decoration: none;
  border: 1px solid rgba($color-black, 0.50);

}

.hero-text-end {
  color: $color-black;
  font-size: 15px;
  line-height: 25px;
}

.hero-img {
  margin-top: 22px;
}

/*section-companies*/
.section-companies {
  padding: 108px 0 104px;
  margin-bottom: 90px;
  background-color: #FF9C7D;
}

.container-companies {
  max-width: $content-width;
  margin: auto;
}

.text-companies {
  max-width: 720px;
  color: $color-black;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin: auto auto 70px;
}

.logo-companies {
  display: flex;
  justify-content: space-around;
}

/*section-control*/
.container-control {
  max-width: $content-width;
  margin: auto auto 250px;
  display: flex;
  justify-content: space-between;
}

.content-control {
  width: 493px;
  margin-top: 151px;
}

.title {
  margin-bottom: 30px;
  color: $color-black;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.text {
  margin-bottom: 30px;
  color: $color-black;
  font-size: 20px;
  line-height: 30px;
}

.start-button {
  text-decoration: none;
  border: none;
  background-color: $color-white;
  color: $color-black;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.gif-img {
  width: 632px;
}

/*section-time*/
.container-time {
  max-width: $content-width;
  margin: auto auto 250px;
  display: flex;
  column-gap: 138px;
}

.content-time {
  width: 450px;
  margin-top: 151px;
}

.mg-bottom-36 {
  margin-bottom: 36px;
}

/*section-quality*/
.container-quality {
  max-width: $content-width;
  margin: auto auto 250px;
  display: flex;
  justify-content: space-between;
}

.content-quality {
  width: 520px;
  margin-top: 161px;
}

.mg-bottom-35 {
  margin-bottom: 35px;
}

/*section-work*/
.container-work {
  max-width: $content-width;
  margin: auto auto 150px;
  display: flex;
  justify-content: space-between;
}

.content-work {
  width: 520px;
  margin-top: 123px;
}

.mg-bottom-25 {
  margin-bottom: 25px;
}

.mg-bottom-27 {
  margin-bottom: 27px;
}

/*section-localise*/
.section-localise {
  background-color: #FFF8E4;
  padding: 120px 0 147px;
}

.container-localise {
  max-width: $content-width;
  margin: 0 auto;
}

.title-localise {
  margin-bottom: 58px;
  color: $color-black;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 110px;
  row-gap: 57px;
  padding: 0 40px;
}

.card {
  max-width: 330px;
}

.card-title {
  color: $color-black;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
}

.card-text {
  color: $color-black;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.web-img {
  padding: 21px 85px 0;
  margin-bottom: 26px;
}

.web-title {
  margin-bottom: 20px;
}

.mobile-img {
  padding: 21px 85px 0;
  margin-bottom: 21px;
}

.mobile-title {
  margin-bottom: 25px;
}

.games-img {
  padding: 21px 85px 0;
  margin-bottom: 23px;
}

.games-title {
  margin-bottom: 23px;
}

.games-text {
  padding-right: 24px;
  padding-left: 25px;
}

.document-img {
  padding: 21px 85px 0;
  margin-bottom: 26px;
}

.document-title {
  margin-bottom: 20px;
}

.marketing-img {
  padding: 21px 85px 0;
  margin-bottom: 23px;
}

.marketing-title {
  margin-bottom: 23px;
}

.iot-img {
  padding: 21px 85px 0;
  margin-bottom: 23px;
}

.iot-title {
  margin-bottom: 23px;
}

/*section-boost*/
.section-boost {
  padding-top: 154px;
  padding-bottom: 187px;
}

.container-boost {
  max-width: $content-width;
  margin: auto;
}

.title-boost {
  margin-bottom: 75px;
  color: $color-black;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.container-items {
  display: flex;
  column-gap: 31px;
}

.item {
  max-width: 408px;
}

.article-title {
  margin-bottom: 34px;
  color: $color-black;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.managers-img {
  padding-top: 50px;
  margin-bottom: 49px;
}

.boost-text {
  color: $color-black;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 25px;
}

.developers-img {
  padding-top: 67px;
  margin-bottom: 67px;
}


.translators-img {
  padding-top: 59px;
  margin-bottom: 58px;
}

.learn-button {
  color: $color-black;
  font-size: 20px;
  line-height: 30px;
  text-decoration-line: underline;
}


/*section-avatar */
.section-avatar {
  background-color: #C9E8F2;
}

.container-avatar {
  max-width: $content-width;
  padding-top: 53px;
  padding-bottom: 102px;
  display: flex;
  margin: auto;
  column-gap: 59px;
}

.avatar-content {
  max-width: 921px;
}

.avatar-text {
  margin-bottom: 23px;
  color: $color-black;
  font-size: 30px;
  line-height: 40px;
}

.avatar-title {
  margin-bottom: 7px;
  color: $color-black;
  font-size: 15px;
  line-height: 25px;
}

/*section-rewards*/
.section-rewards {
  background-color: #DABC98;
  padding-top: 79px;
  padding-bottom: 80px;
}

.container-rewards {
  max-width: $content-width;
  margin: auto;
  display: flex;
}

.border {
  border-left: 2px solid $color-black;
  margin-right: 71px;
}

.stars {
  display: flex;
  column-gap: 70px;
}

.cake {
  margin-right: 67px;
}

.text-rewards {
  max-width: 461px;
  margin-right: 125px;
  color: $color-black;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
}

.icon-img {
  margin-bottom: 20px;
}

.stars {
  margin-bottom: 14px;
}

/*section-bird*/
.section-bird {
  padding-top: 169px;
  padding-bottom: 162px;
}

.container-bird {
  max-width: $content-width;
  margin: auto;
}

.title-bird {
  margin: auto;
  display: block;
  max-width: 791px;
  color: $color-black;
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}

.text-bird {
  max-width: 539px;
  margin: auto auto 25px;
  color: $color-black;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

.img-bird {
  padding-left: 134px;
  padding-right: 133px;
  margin-bottom: 32px;
}

.href-bird {
  display: block;
  width: 193px;
  margin: auto;
  text-decoration: none;
  padding: 0 20px;
  background-color: $color-main-btn;
  color: $color-white;
  text-align: center;
  font-weight: 600;
  line-height: 60px;
}

/*section-localisation*/
.section-localisation {
  background-color: #FF9C7D;
}

.container-localisation {
  max-width: $content-width;
  padding-top: 119px;
  padding-bottom: 161px;
  margin: auto auto 92px;
}

.content-localisation {
  max-width: 784px;
  margin: auto;
}

.title-localisation {
  margin-bottom: 29px;
  color: $color-black;
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
}

.text-localisation {
  margin-bottom: 54px;
  color: $color-black;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.href-localisation {
  max-width: 160px;
  margin: auto;
  display: block;
  text-decoration: none;
  background-color: $color-black;
  padding: 0 40px;
  color: $color-white;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
}
