/*hero-section*/
.hero {
  padding: 32px 0 35px;
  margin-bottom: 137px;

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1289px) {
      flex-direction: column-reverse;
      gap: 70px;
    }

  }

  &__content {
    width: 531px;

    @media screen and (max-width: 1289px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 51px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 70px;

    @media screen and (max-width: 1289px) {
      text-align: center;
    }

    @media screen and (max-width: 767px) {
      font-size: 50px;
    }
  }

  &__text {
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 50px;

    @media screen and (max-width: 1289px) {
      text-align: center;
    }
  }

  &__buttons {
    margin-bottom: 25px;
    display: flex;
    column-gap: 10px;

    @media screen and (max-width: 1289px) {
      justify-content: center;
      column-gap: 20px;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }

  &__button-try {
    @include hero-buttons;
    color: $color-white;
    background-color: $color-main-btn;
  }

  &__button-book {
    @include hero-buttons;
    color: $color-black;
    border: 1px solid rgba($color-black, 0.50);
  }

  &__text-features {
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px;

    @media screen and (max-width: 1289px) {
      text-align: center;
    }
  }

  &__img-wrapper {
    @media screen and (max-width: 1289px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 767px) {
      margin: auto;
    }
  }

  &__img {
    margin-top: 22px;

    @media screen and (max-width: 1289px) {
      width: 100%;
    }
  }
}

/*brands-section*/
.brands {
  padding: 108px 0 104px;
  margin-bottom: 90px;
  background-color: #FF9C7D;

  &__text {
    width: 720px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    margin: auto auto 70px;

    @media screen and (max-width: 767px) {
      width: 100%;

    }
  }

  &__logo {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 1289px) {
      gap: 50px;
      flex-wrap: wrap;
    }
  }
}

/*control-section*/
.control {
  &__container {
    margin-bottom: 250px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1289px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__content {
    width: 493px;
    margin-top: 151px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    @include start-button;

    @media screen and (max-width: 1289px) {
      font-size: 27px;
    }
  }

  &__gif-img {
    width: 632px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

/*time-section*/
.time {

  &__container {
    margin-bottom: 250px;
    display: flex;
    column-gap: 138px;

    @media screen and (max-width: 1289px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

  &__gif-img {
    width: 632px;


    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__content {
    width: 450px;
    margin-top: 151px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 36px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    @include start-button;

    @media screen and (max-width: 1289px) {
      font-size: 27px;
    }
  }
}

/*quality-section*/
.quality {
  &__container {
    margin-bottom: 250px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1289px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__content {
    width: 520px;
    margin-top: 161px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 35px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__gif-img {
    width: 632px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__button {
    @include start-button;

    @media screen and (max-width: 1289px) {
      font-size: 27px;
    }
  }
}

/*work-section*/
.work {
  &__container {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1289px) {
      flex-direction: column-reverse;
      gap: 10px;
    }
  }

  &__content {
    width: 520px;
    margin-top: 123px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    margin-bottom: 25px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__text {
    margin-bottom: 27px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__work-img {
    width: 632px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__button {
    @include start-button;

    @media screen and (max-width: 1289px) {
      font-size: 27px;
    }
  }
}

/*localise-section*/
.localise {
  background-color: #FFF8E4;
  padding: 120px 0 147px;

  &__title {
    margin-bottom: 58px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 110px;
    row-gap: 57px;
    padding: 0 40px;

    @media screen and (max-width: 1289px) {
      justify-content: center;
    }

    .card {
      width: 330px;

      @media screen and (max-width: 767px) {
        width: 100%;
        text-align: center;
      }

      &__img {
        &--web {
          padding: 21px 85px 0;
          margin-bottom: 26px;

          @media screen and (max-width: 767px) {
            padding: 21px 0 0;
          }
        }

        &--mobile {
          padding: 21px 85px 0;
          margin-bottom: 21px;

          @media screen and (max-width: 767px) {
            padding: 21px 0 0;
          }
        }

        &--games {
          padding: 21px 85px 0;
          margin-bottom: 23px;

          @media screen and (max-width: 767px) {
            padding: 21px 0 0;
          }
        }

        &--document {
          padding: 21px 85px 0;
          margin-bottom: 26px;

          @media screen and (max-width: 767px) {
            padding: 21px 0 0;
          }
        }

        &--marketing {
          padding: 21px 85px 0;
          margin-bottom: 23px;

          @media screen and (max-width: 767px) {
            padding: 21px 0 0;
          }
        }

        &--iot {
          padding: 21px 85px 0;
          margin-bottom: 23px;

          @media screen and (max-width: 767px) {
            padding: 21px 0 0;
          }
        }
      }

      &__title {
        color: $color-black;
        text-align: center;
        font-family: GraphikLCG-Semibold, sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;

        &--web {
          margin-bottom: 20px;
        }

        &--mobile {
          margin-bottom: 25px;
        }

        &--games {
          margin-bottom: 23px;
        }

        &--document {
          margin-bottom: 20px;
        }

        &--marketing {
          margin-bottom: 23px;
        }

        &--iot {
          margin-bottom: 23px;
        }
      }

      &__text {
        color: $color-black;
        text-align: center;
        font-family: GraphikLCG-Regular, sans-serif;
        font-size: 18px;
        line-height: 25px;
      }

    }

  }

}

/*boost-section*/
.boost {
  padding-top: 154px;
  padding-bottom: 187px;

  &__title {
    margin-bottom: 75px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }

  &__items {
    display: flex;
    column-gap: 31px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }

    .item {
      max-width: 408px;


      &__title {
        margin-bottom: 34px;
        color: $color-black;
        font-family: GraphikLCG-Semibold, sans-serif;
        font-size: 30px;
        font-weight: 600;
        line-height: 40px;
      }

      &__text {
        color: $color-black;
        font-family: GraphikLCG-Regular, sans-serif;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 25px;
      }

      &__button {
        color: $color-black;
        font-family: GraphikLCG-Regular, sans-serif;
        font-size: 20px;
        line-height: 30px;
        text-decoration-line: underline;
      }

      &__managers-img {
        padding-top: 50px;
        margin-bottom: 49px;
      }

      &__developers-img {
        padding-top: 67px;
        margin-bottom: 67px;
      }

      &__translators-img {
        padding-top: 59px;
        margin-bottom: 58px;
      }
    }

  }

}

/*avatar-section */
.avatar {
  background-color: #C9E8F2;

  &__container {
    padding-top: 53px;
    padding-bottom: 102px;
    display: flex;
    column-gap: 59px;

    @media screen and (max-width: 1289px) {
      flex-direction: column-reverse;
    }
  }

  &__content {
    max-width: 921px;
  }

  &__text {
    margin-bottom: 23px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 30px;
    line-height: 40px;
  }

  &__title {
    margin-bottom: 7px;
    color: $color-black;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px;
  }

  &__img {
    @media screen and (max-width: 1289px) {
      width: 310px;
      margin: auto auto 25px;
    }

    @media screen and (max-width: 767px) {
      width: 300px;
    }
  }
}

/*rewards-section*/
.rewards {
  background-color: #DABC98;
  padding-top: 79px;
  padding-bottom: 80px;

  &__container {
    display: flex;

    @media screen and (max-width: 1289px) {
      flex-direction: column;

    }
  }

  &__cake {
    margin-right: 67px;

    @media screen and (max-width: 1289px) {
      width: 176px;
      margin: auto auto 25px;
    }
  }

  &__text {
    max-width: 461px;
    margin-right: 125px;
    color: $color-black;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;


    @media screen and (max-width: 1289px) {
      text-align: center;
      margin: auto auto 25px;
    }
  }

  &__border {
    border-left: 2px solid $color-black;
    margin-right: 71px;
  }

  &__images {
    display: flex;
    column-gap: 70px;

    @media screen and (max-width: 1289px) {
      justify-content: space-around;
      column-gap: unset;
    }

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      gap: 30px;
    }
  }

  &__images-item {
    display: flex;
    flex-direction: column;
  }

  &__icon-img {
    margin-bottom: 20px;
  }

  &__star-img {
    margin-bottom: 14px;
    width: 128px;
  }

  &__star-text {
    color: #000;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
  }

}

/*bird-section*/
.bird {
  padding-top: 169px;
  padding-bottom: 162px;

  &__title {
    margin: auto;
    display: block;
    max-width: 791px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
  }

  &__text {
    max-width: 539px;
    margin: auto auto 25px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 25px;
    line-height: 30px;
  }

  &__wrapper-img {
    text-align: center;
  }

  &__img {
    margin-bottom: 32px;

    @media screen and (max-width: 1289px) {
      width: 100%;
      padding-left: unset;
      padding-right: unset;
    }
  }

  &__button {
    display: block;
    width: 193px;
    margin: auto;
    text-decoration: none;
    background-color: $color-main-btn;
    color: $color-white;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-weight: 600;
    line-height: 60px;
  }

}

/*localisation-section*/
.localisation {
  background-color: #FF9C7D;

  &__container {
    padding-top: 119px;
    padding-bottom: 161px;
  }

  &__content {
    max-width: 784px;
    margin: auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__title {
    max-width: 784px;
    margin: auto auto 29px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;

    @media screen and (max-width: 767px) {
      font-size: 50px;
    }
  }

  &__text {
    margin-bottom: 54px;
    color: $color-black;
    text-align: center;
    font-family: GraphikLCG-Regular, sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__button {
    max-width: 160px;
    margin: auto;
    display: block;
    text-decoration: none;
    background-color: $color-black;
    color: $color-white;
    text-align: center;
    font-family: GraphikLCG-Semibold, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
  }

}