@import "../variables";

//hero-section

.hero {

  &__content {
    color: $whiteText;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 60px;

    @media screen and (max-width: 647px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    color: $whiteText;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 361px;
    margin-bottom: 405px;

    @media screen and (max-width: 647px) {
      max-width: 315px;
    }
  }

  &__button {
    text-align: center;
  }

  &__button svg path:hover {
    stroke: $accent;
  }

  &__button svg circle:hover {
    stroke: $accent;
  }
}

//tabs-section

.tabs {

  &__content {
    margin-bottom: 60px;
    display: flex;
    padding: 0 140px;
    gap: 60px;


    @media screen and (max-width: 1319px) {
      padding: 0;
    }

    @media screen and (max-width: 903px) {
      flex-direction: column;
      margin-bottom: 30px;
      gap: 30px;
    }
  }

  &__links {
    max-width: 435px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: 903px) {
      border-right: none;
      padding: 0 0 60px 0;
      flex-direction: row;
      overflow-x: scroll;
      justify-content: unset;
      max-width: 648px;
    }

    @media screen and (max-width: 647px) {
      padding-bottom: 0;
      padding-left: 30px;
    }
  }

  &__link {
    color: $grayText;
    text-align: right;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;

    &--active {
      background: var(--gradient-text-red-reversed, linear-gradient(118deg, #EF8080 0%, #F0145A 100%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      pointer-events: none;
    }

    @media screen and (max-width: 647px) {
      font-size: 30px;
    }
  }

  &__link:hover {
    color: $accent;
  }

  &__border {
    border-right: 4px solid rgba(255, 255, 255, 0.30);

    @media screen and (max-width: 903px) {
      border-right: none;
      border-bottom: 4px solid rgba(255, 255, 255, 0.30);
    }

    @media screen and (max-width: 647px) {
      margin-right: 30px;
      margin-left: 30px;
    }
  }

  &__description {
    max-width: 861px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: 903px) {
      padding: 60px 0 0 0;
    }

    @media screen and (max-width: 647px) {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 0;
    }
  }

  &__title {
    color: $whiteText;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;

    @media screen and (max-width: 647px) {
      font-size: 20px;
    }
  }

  &__body {
    color: $whiteText;
    font-family: Montserrat, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}

//offers-section

.offers {

  &__content {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 647px) {
      padding-right: 30px;
      padding-left: 30px;
      gap: 30px;
      margin-bottom: 30px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__menu-title {
    color: $activeRegular;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__menu:hover &__menu-title {
    color: $accent;
  }

  &__menu:hover &__menu-arrow path {
    stroke: $accent;
  }

  &__menu-text {
    background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (max-width: 647px) {
      font-size: 30px;
    }
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    @media screen and (max-width: 647px) {
      flex-wrap: unset;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__main-title {
    margin-bottom: 15px;
    color: $activeRegular;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__main-text {
    color: $whiteText;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  &__item {
    max-width: 493px;
    height: 295px;
    flex: 33.33% 0 1;

    @media screen and (max-width: 1599px) {
      max-width: 400px;
      height: 100%;
    }

    @media screen and (max-width: 1319px) {
      max-width: 261px;
    }

    @media screen and (max-width: 903px) {
      flex: 50% 0 1;
      max-width: 294px;
    }

    @media screen and (max-width: 647px) {
      max-width: 315px;
    }
  }

  &__item-image {
    margin-bottom: 30px;
    padding: 14px;
    border-radius: 24px;
    background: $whiteText;
  }
}

//avatar-section

.avatar {
  &__content {
    margin-bottom: 60px;
    background-color: $grayBg;
  }

  &__info {
    display: flex;

    @media screen and (max-width: 903px) {
      flex-direction: column;
    }

    @media screen and (max-width: 647px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &__photo {
    height: 298px;
    width: 400px;
    border-radius: 12px 0 0 12px;
    background-image: url("../img/avatar-1.jpg");

    @media screen and (max-width: 1599px) {
      height: 344px;
      background-image: url("../img/avatar-2.jpg");
    }

    @media screen and (max-width: 1319px) {
      height: 528px;
      background-image: url("../img/avatar-3.jpg");
    }

    @media screen and (max-width: 903px) {
      width: 648px;
      height: 500px;
      border-radius: 12px 12px 0 0;
      background-image: url("../img/avatar-4.jpg");
    }

    @media screen and (max-width: 647px) {
      width: 100%;
      margin: auto;
      background-image: url("../img/avatar-5.jpg");
      background-repeat: no-repeat;
    }
  }

  &__text {
    max-width: 1200px;
    padding: 30px;

    @media screen and (max-width: 1599px) {
      max-width: 920px;
    }

    @media screen and (max-width: 1319px) {
      max-width: 504px;
    }

    @media screen and (max-width: 903px) {
      max-width: 648px;
    }

    @media screen and (max-width: 647px) {
      width: 100%;
      padding-right: 27px;
      padding-left: 27px;
    }
  }

  &__command-arrow {
    margin-bottom: 5px;
  }

  &__text-command {
    color: $activeRegular;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__text-main {
    margin-bottom: 30px;
    background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    max-width: 1140px;

    @media screen and (max-width: 1599px) {
      max-width: 860px;
    }

    @media screen and (max-width: 1319px) {
      max-width: 444px;
    }

    @media screen and (max-width: 903px) {
      max-width: 588px;
    }

    @media screen and (max-width: 647px) {
      font-size: 30px;
      max-width: 262px;
    }
  }

  &__text-name {
    margin-bottom: 6px;
    color: $grayText;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
  }

  &__text-job {
    color: $grayText;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 22px;
  }

  &__buttons {
    cursor: pointer;
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    background-color: white;
  }

  &__button:hover {
    fill: $activeRegular;
    opacity: 0.2;
  }

  &__button {

    &--mobile {
      display: none;

      @media screen and (max-width: 647px) {
        display: unset;
      }
    }
  }
}

//brands-section

.brands {

  &__content {
    max-width: 1720px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto auto 60px;

    @media screen and (max-width: 647px) {
      margin-bottom: unset;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 647px) {
      flex-wrap: unset;
      flex-direction: column;
    }
  }

  &__wrapper {
    flex: 25% 0 1;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 903px) {
      flex: 33.33% 0 1;
    }
    @media screen and (max-width: 647px) {
      min-height: 120px;
    }
  }

  &__wrapper--hillel {
    border-radius: 12px 0 0 0;
    background: #1C4280;

    @media screen and (max-width: 1719px) {
      border-radius: unset;
    }
  }

  &__wrapper--wannabiz {
    background: #143646;
  }

  &__wrapper--tapgerine {
    background: #F48B30;
  }

  &__wrapper--3dlook {
    border-radius: 0 12px 0 0;
    background: #9E4DC3;

    @media screen and (max-width: 1719px) {
      border-radius: unset;
    }
  }

  &__wrapper--orangear {
    background: #FD9339;
  }

  &__wrapper--adtelligent {
    background: #EAEAEA;
  }

  &__wrapper--clickky {
    background: #C71C36;

    @media screen and (max-width: 647px) {
      display: none;
    }
  }

  &__wrapper--ecolease {
    background: #DCF3F9;

    @media screen and (max-width: 647px) {
      display: none;
    }
  }

  &__wrapper--infatek {
    border-radius: 0 0 0 12px;
    background: #EAEAEA;

    @media screen and (max-width: 1719px) {
      border-radius: unset;
    }
    @media screen and (max-width: 647px) {
      display: none;
    }
  }

  &__wrapper--citypark {
    background: #282240;

    @media screen and (max-width: 647px) {
      display: none;
    }
  }

  &__wrapper--artprint {
    background: #1D4568;

    @media screen and (max-width: 647px) {
      display: none;
    }
  }

  &__wrapper--ultimate {
    border-radius: 0 0 12px 0;
    background: #000;

    @media screen and (max-width: 1719px) {
      border-radius: unset;
    }
    @media screen and (max-width: 647px) {
      display: none;
    }
  }

  &__title {
    text-align: center;
    color: $mainRegular;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

//publications-section

.publications {
  background-color: $grayBg;
  padding-top: 30px;

  &__content {
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-self: stretch;

    @media screen and (max-width: 647px) {
      padding: 0 30px 30px 30px;
    }

    @media screen and (max-width: 647px) {
      max-width: 375px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__main-text {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__main-title-1 {
    color: $activeRegular;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__main-title-2 {
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    background: linear-gradient(118deg, #F0145A 0%, #EF8080 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 647px) {
      font-size: 30px;
    }
  }

  &__articles {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 903px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 647px) {
      flex-wrap: unset;
      flex-direction: column;
    }
  }

  &__articles-item {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    align-self: stretch;

    @media screen and (max-width: 647px) {
      max-width: 315px;
    }
  }

  &__articles-item--grow {
    @media screen and (max-width: 903px) {
      min-width: 648px;
    }
    @media screen and (max-width: 647px) {
      min-width: unset;
    }
  }

  &__articles-item-content {
    height: 230px;
    background-color: white;
    display: flex;
    padding: 30px 30px 0 30px;
    flex-direction: column;
    gap: 15px;
    align-self: stretch;

    @media screen and (max-width: 1599px) {
      height: 250px;
    }
    @media screen and (max-width: 1319px) {
      height: 356px;
    }
    @media screen and (max-width: 647px) {
      height: auto;
      padding: 30px;
    }
  }

  &__articles-item-content-grow {
    @media screen and (max-width: 903px) {
      height: 188px;
    }
    @media screen and (max-width: 647px) {
      height: auto;
      padding: 30px;
    }
  }

  &__img-item {
    max-width: 100%;
  }

  &__articles-item-title {
    color: $activeRegular;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  &__articles-item-date {
    color: $grayText;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__border {
    border: 4px solid $graySeparator;
  }

  &__articles-item-text {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
  }
}
